.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
  }
  p{
    font-size: 18px
  }

  p{
    line-height: 2em
  }

  h1 {
    font-size: 40px
  }